.rating-cell {
  text-align: center;         /* Horizontal centering */
  vertical-align: middle;     /* Vertical centering */
  font-size: 14px;
  border: 1px solid black;
  color: white;
}

.table-title-cells-style {
  text-align    :center;
  vertical-align: middle;
  font-size     : 20px;
  font-weight   : 600;
  padding       : 4px;
  color         : var(--default_table_text_color);
}

.season-episode-number-style {
  text-align    :center;
  vertical-align: middle;
  font-size  : 18px;
  font-weight: 400;
  padding    : 4px;
  color      : var(--default_table_text_color);
}

.season-episode-small-data-style {
  text-align    :center;
  vertical-align: middle;
  font-size  : 14px;
  font-weight: 100;
  padding    : 4px;
  color      : var(--default_table_text_color);
}